.mainContainer {

    margin: 2px 1em 0 auto;
    text-align: center;
}

.leftContainer{
    display: flex;
    align-items: flex-start;
    text-align: center;
    color: black;
    
}

a{
    text-decoration:none;
    color: black;
}