.mainContainer {

    margin: 2px 1em 0 auto;
    text-align: center;
}

.leftContainer{
    display: flex;
    flex-direction: row  ;
    justify-content: space-between;
    color: black;
    
}

a{
    text-decoration:none;
    color: black;
}