.mainContainer {
    margin: 2px 1em 0 auto;
    text-align: center;
}

.leftContainer{
    margin: auto 100% 40% auto;
    background-color: aquamarine;
    text-align: center;
    width: 150px;
    height: 80px;
    color: black;
    
}

.formContainer{
    margin: auto auto 40% 100%;
    background-color: aquamarine;
    text-align: center;
    width: 150px;
    height: 80px;
    color: black;
    
}

a{
    text-decoration:none;
    color: black;
}